<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CS" connectionString="Data Source=.;Initial Catalog=Raspadita2016;Integrated Security=True;" />
    <add name="Raspa2016.Properties.Settings.Raspadita2016ConnectionString"
      connectionString="Data Source=.;Initial Catalog=Raspadita2016;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="PF"  value="C:\"/>
    <add key="NF"  value="archivo5.ps"/>
  </appSettings>
    
</configuration>



